results_detection_voc/
results_voc/
__pycache__/
nohup.out
mask_new_all
mask_new_all_2
mask_new_all_3
mask_new_all_4
noise_all
data/CVPR_Adversarial/*.jpg
results_voc
data/score_22
data/22_repatch1
data/26_ensemble_patch
data/29
.vscode